@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Orbitron:wght@400..900&display=swap');

/* Reset Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: rgba(0, 86, 173, 0.767);
}

h1, h4, p {
    padding: 5px;
}

h4 {
    font-size: 13px;
}

/*Normal CSS*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

article { 
    margin: 10rem;
    height: 350px;
    width: 450px;
    /* background-color: rgb(113, 161, 177); */
} 

section {
    padding: 10px;
}

section h1, h4{
    text-align: center;
}

section p {
    text-align: justify;
}

.iconsContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: auto;
}

ul {
    display: flex;
    align-items: center;
    gap: 10px;    
    list-style-type: none;
}

li {
    cursor: pointer;
}

i {
    font-size: 20px;
    color: rgb(255, 217, 111);
    transition: all 0.2s;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid rgb(255, 217, 111);
    border-radius: 50px;
    color: rgb(255, 217, 111);
    background-color: rgba(0, 86, 173, 0.767);
    font-family: 'Gruppo', sans-serif;
    font-weight: 700;
    transition: all 0.2s;
}

.buttonUp {
    color: rgba(0, 86, 173, 0.767);
    background-color:  rgb(255, 217, 111);
}

.setHuge, .setTiny {
    color: rgb(255, 217, 111);
}

.setTiny {
    font-family: 'Gruppo', sans-serif;
}

.setPara {
   color: white;
   letter-spacing: 1.5px;
   font-size: 13px;
}

.setHuge, .setPara, form {
    font-family: 'Orbitron', sans-serif;
}

.mouseEnterIcons {
    color:  rgba(255, 217, 111, 0.76);
}


/* Form settings */
.modal {
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
}

form {
    margin: 5% auto 15% auto;
    width: 70%;
    background-color:  rgba(38, 107, 175, 0.767);
}

header {
    margin: 24px 0px 24px 0px;
    padding: 15px;
    text-align: center;
}

.imgDevKing {
    width: 120px;
    border-radius: 50%;
}
/* .hamburgerMenu {
    height: 2px;
    width: 27px;
    background-color: black;
    margin: 6px 0;
} */

